.our-services{
    background-color: $white;
     padding: 40px 0;
    .services-description{
       
        h2{
            font-size: 26px;
            font-weight: 600;
        }
        p{
            font-size: 16px;
            color: grey;
            font-weight: 600;
        }
    }
}
.service-icon{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $secondary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active{
        background-color: $primary;
    }
    
 i{
    font-size: 25px;
}
}
.card{
    border: none;
    background-color: transparent;
    .btn{
        font-size: 10px;
        &-c-secondary{
            background-color: $white;
            color: $secondary;
            border: 1px solid grey;
            &:hover{
                background-color: $primary;
                color: $white;
            }
        }
        &-c-primary{
        background-color: $primary;
        color: $white;
        border: 1px solid $white;

        }
    }
}
.card-body{
    h6{
        font-size: 14px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
    }
}
@media (max-width : 450px ){
    .card-body{
        padding-bottom: 50px;
    }
}